.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    height: 37px;
}

.form-group {
    margin-top: unset !important;
}

.css-iv8nej-MuiButtonGroup-root .MuiButtonGroup-grouped {
    min-width: 43px !important;
}

.Auth-form-container {
    height: unset;
}

.Auth-form {
    margin-bottom: 8rem;
    margin-top: 8rem;
}

.custom {
    .css-z3c6am-MuiFormControl-root-MuiTextField-root {
        width: 280px !important;
    }
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.MuiAutocomplete-inputRoot.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    background-color: white;
    border-radius: 5px;
    height: 40px;
}

.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputTypeSearch.MuiAutocomplete-input.MuiAutocomplete-inputFocused.css-1g24dm6-MuiInputBase-input-MuiOutlinedInput-input {
    padding-top: 0;
}
