.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root {
    height: 37px;
}

.form-group {
    margin-top: unset !important;
}

.css-iv8nej-MuiButtonGroup-root .MuiButtonGroup-grouped {
    min-width: 43px !important;
}

.Auth-form-container {
    height: unset;
}

.Auth-form {
    margin-bottom: 8rem;
    margin-top: 8rem;
}